.form__section {
    padding: 10px 0;
}

label {
    width: 300px;
    margin-bottom: 10px;
    display: block;
}
input[type='text'] {
    width: 400px;
}

.errors {
    background: #ff000021;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid red;
    margin-bottom: 20px;
}
.errors ul li {
    font-size: .95rem;
    padding: 0;
    margin: 0;
}