.error__title {
    padding-bottom: 22px;

    font-weight: 300;
    font-size: 2.3rem;
    color: #666;
}

.error__details {
    padding-bottom: 25px;

    font-weight: 400;
    font-size: 1.05rem;
    color: #999;
    font-style: italic;
}