@import '/css/reset.css';

* {
    font-family: 'Fira Sans', sans-serif !important;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    min-height: 100%;
}

p {
    padding-bottom: 25px;

    font-size: 1.1rem;
    line-height: 1.8rem;
    color: #222;
}

ul li {
    margin-bottom: 20px;
    font-size: 1.1rem;
    line-height: 1.6rem;
    color: #222;
}
ul li a {
    padding-bottom: 2px;
    text-decoration: none;
    border-bottom: 1px solid #777;
    color: inherit;
}

header {
    width: 100%;
    height: 200px;

    display: flex;
    flex-direction: column;
    align-content: space-between;

    background-image: url(/img/photo-1591557132355-52f293ac9722.lowres.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
}

nav.header__navbar {
    padding: 0 10px;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-content: space-between;
}
.header__navbar--left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.header__navbar--right {
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex: 1;
    align-items: center;
}

.header__navbar__item {
    padding: 0 15px;
    
    color: #eee;
    text-shadow: 0 0 4px rgba(0, 0, 0, .9);
}
.header__navbar__item--logo {
    font-weight: 600;
    text-transform: uppercase;
}

/* .header__heading {
    padding: 25px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: end;
}
.header__heading__tagline {
    font-size: 1.1rem;
    color: #eee;
    text-shadow: 0 0 4px rgba(0, 0, 0, 1);
} */

.container__island {
    margin: auto;
    padding: 40px 25px;
    max-width: 920px;
}