.post_list__empty_state {
    width: 80%;
    padding-top: 30px;
    padding-bottom: 120px;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #666;
    margin: auto;
    text-align: center;    
}

.container__island.container__island--with_sizebar {
    display: flex;
    max-width: calc(920px + 300px);
}
.posts__container__posts {
    flex: 1;
}
.posts__container__tags {
    margin-left: 20px;
    padding: 0 15px;
    width: 280px;
    border-radius: 5px;
    color: #333;
}

.tags__title {
    margin-bottom: 16px;
    font-size: 1rem;
}
.tags__item {
    padding: 8px 13px;
    margin-bottom: 12px;
    cursor: pointer;
    background: rgba(0, 0, 0, .03);
    user-select: none;
    color: #333;
}
.tags__item--link {
    text-decoration: none;
}
.tags__item:hover {
    background: rgba(0, 0, 0, .05);
}
.tags__item:active {
    background: rgba(0, 0, 0, .08);
}
.tags__item .tags__item__count {
    float: right;
    color: #999;
    font-style: italic;
}

.post_list__item {
    padding: 20px;
    margin-bottom: 36px;

    display: block;
    border-radius: 5px;
    user-select: none;
    text-decoration: none;
    background: rgba(0, 0, 0, .03);
}
.post_list__item:hover {
    background: rgba(0, 0, 0, .05);
}
.post_list__item:active {
    background: rgba(0, 0, 0, .08);
}

.post_list__item__title {
    padding-bottom: 22px;

    font-weight: 300;
    font-size: 2.3rem;
    color: #666;
}

.post_list__item__details {
    padding-bottom: 5px;

    font-weight: 400;
    font-size: 1.05rem;
    color: #999;
    font-style: italic;
}

.post_list__pagination {
    display: flex;
    justify-content: center;
}
.post_list__pagination__button--page_number {
    padding: 0 20px;
    display: block;
    padding-top: 5px;
}