.post__buttons {
    padding-bottom: 35px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input.post__title {
    margin-bottom: 22px;

    font-weight: 300;
    font-size: 2.3rem;
    color: #666;
}

textarea.post__content{
    width: 100%;
    margin-bottom: 25px;

    font-size: 1.1rem;
    line-height: 1.8rem;
    color: #222;
    overflow-y: scroll;
}

.errors {
    background: #ff000021;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid red;
    margin-bottom: 20px;
}
.errors ul li {
    font-size: .95rem;
    padding: 0;
    margin: 0;
}