.post__title {
    padding-bottom: 22px;

    font-weight: 300;
    font-size: 2.3rem;
    color: #666;
}

.post__details {
    padding-bottom: 25px;

    font-weight: 400;
    font-size: 1.05rem;
    color: #999;
    font-style: italic;
}

.post__content {
    padding-bottom: 25px;

    font-size: 1.1rem;
    line-height: 1.8rem;
    color: #222;
}

.post__content img, .post__content video, .post__content audio {
    width: 100%;
    margin-bottom: 25px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .4);
}

.post__buttons {
    padding-bottom: 35px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}